@import "./reset.css";

body {
  background-color: skyblue;
  min-width: 800px;
}

.Link-default {
  text-decoration: none;
  color: darkgrey;
  margin-left: 5px;
}

.Link-default:hover {
  color: red;
  font-weight: 600;
}

.Botton-default {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
  border: solid gray 0.5px;
}

.Botton-default:hover {
  background-color: rgb(48, 147, 186);
  cursor: pointer;
}

.main-default {
  background-color: white;
  text-align: center;
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.content-default {
  height: 100%;
  width: 100%;
}

.links-container-default {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  bottom: 5%;
}

.links-default {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.form-header-default {
  font-size: 30px;
  font-weight: 600;
  margin: 20px;
}

.form-container-default {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.form-box-default {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
